# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\api开放平台\mrxapi-client-sdk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
